
 <div class="hc">
 <div class="homepage-header">
  <h1 class="homepage-h1">Potato</h1>
   <p class="hm-p">Welcome to the best clone of <strong>zomato</strong></p>
     <% if logged_in?%>
     <%= button_to "Logout", logout_path, class:'btn btn-danger'%>
    <% end %> 
 </div>

 <div class="container home-about">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order Online</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Book Seats Online</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>

 </div>
 </div> 
<footer> Copyright &#169; 2022. All rights reserved</footer>  

